@import "tailwindcss";

:root {
  --background: #F6F1EA;
  --foreground: #27430D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-essays);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-essays), serif;
  margin: 0;
}